/* GENERAL */

body {
    margin: 0;
    height: 100%;
    background-image: url("assets/images/bg.jpg");
    background-attachment: fixed;
    object-fit: cover;
    background-repeat:no-repeat;
    font-family: 'Source Sans Pro', sans-serif;
}

/* STYLES */

.logo-area {
    width: 100%;
   
    
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}


.bodywidth {
    width: 90%;
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.topflex {
    display: flex;
    flex-direction: row;
   
}

.topflex-item:nth-child(1) {
    display: flex;
    flex-direction: row;
    width: 33%;
    
    
}

.topflex-item:nth-child(2) {
    display: flex;
    flex-direction: row;
    
    width: 33%;
    vertical-align: top;
    align-items:flex-start;
    align-content:flex-start;
    justify-content: center;
}

.topflex-item:nth-child(3) {
    display: flex;
    flex-direction: row;
    
    width: 33%;
    justify-content: right;
}


h1.logo {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: rgb(43, 43, 43);
    font-size: 3em;
    
    margin: 0;
   
    padding: 0;
    padding-top: 0;
    vertical-align: top;
    line-height: 0.5em;
}

.dot {
    font-size: larger;
    color: #f93f23;
}

a {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: rgb(26, 26, 26);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}



.right-txt {
    color: #272727;
    text-align: left;
    font-weight: 800;
    font-family: 'Playfair Display', serif;
}

.white-txt {
    width: 90%;
    margin: auto;
    color: rgb(255, 255, 255);
    text-align: right;
}

.hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/hero.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.am-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/am-hero.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.as-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/as-hero4.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.br-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/br-hero3.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.cn-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/cn-hero4.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.fr-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/fr-hero4.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}

.in-hero {
    width: 100%;
    height: 25em;
    display: flex;
    background-image: url("assets/images/in-hero2.jpg");
    object-fit: fill;
    align-items: center;
    margin-top:0;
}






/* SEARCH */

.search {
    height: 3em;
    width: 30%;
    min-width: 20em;
    margin: auto;
    display: flex;
    justify-content: center;

  }
  
  .searchTerm {
    width: 100%;
    border-right: none;
    padding: 1em;
   
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    opacity: 0.9;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: rgb(247, 70, 17);
    
  }

  input::placeholder {
    color: rgb(255, 81, 0);
  }
  

  
  .searchButton {
    width: 3em;
    height: 100%;
    border: 0px solid #00B4CC;
    background: #fa5e15;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

  }

  /* SEARCH */


  top-cat-link {
      color: black;
  }


    /* FLEX CONTENT */


  .flexcont, .breakfast {
    width: 90%;
    margin: auto;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0;
    gap: 1.2%;
    

}

.flex-article-topcat {
    width: 8.9%;
    margin-top: 2em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #ededed;
}


.flex-article {
    width: 19%;
    margin-top: 2em;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    background-color: #ededed;
}

.flex-article2 {
    width: 19%;
    margin-top: 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.flex-article:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

  H2 {
    font-size: 1.4rem !important;
    font-weight: 800;
    margin-top: 1em;
    padding-top: 0.5em;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.cardH2 {
    text-align: center;
    border: 0;
    background-color: #ededed;
    margin-left: 1em;
    margin-right: 1em;
}

.fa-solid, fa-star {
    font-size: 0.8em;
    color: #f93f23;
    text-align: center;
    margin-bottom: 2em;
}

H2:hover {
   
    text-decoration: underline;
}


  /* FLEX CONTENT */

  .right-heading {
      width: 90%;
      margin: auto;
      margin-top: 2em;
      margin-bottom: 0;
      padding: 0;
      display: flex;
      align-items: flex-start;
  }





/* GRID TEMPLATE */

.grid-container {
    display: grid; 
    grid-template-columns: 55% 16% 26%; 
    grid-template-rows: 1fr; 
    gap: 0% 1.5%; 
    margin-top: 1.2em;
    
  }

  .grid-item {
    margin: 0;
      
  }

  .grid-img {
    width: 100%;
    max-height: 18em;
    border-top: 3px solid #f93f23;
}

.grid-img-notop {
    width: 100%;
    max-height: 15em;
    
}



  .grid-item:nth-child(2) {
    
    margin: 0;
}

.grid-item:nth-child(3) {
    margin: 0;

}

  /* GRID TEMPLATE */



  /* ARTICLE STYLES */
  .article {
    display: flex;
    flex-direction: column;
}

.article-split {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.article-item:nth-child(1) {
    width: 50%;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

.article-item:nth-child(2) {
    width: 50%;
    margin-left: 1em;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

    .article-split-space {
        margin-top: 2em;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    
.split-article {
        font-weight: 800;
        margin-top: 0;
    }

    .article-full {
        width: 100%;
        margin-top: 2em;
    }

    .cusine-header {
        font-weight: 800;
        margin-top: 0;
        font-size: 1.8em !important;
    }


H3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 0.1em;
    margin-bottom: 0;
    padding-bottom: 0.2em;
    font-family: "Playfair Display", serif;
}

H4 {
    font-size: 1em;
    font-weight: 800;
    margin-top: 0.8em;
    padding-left: 0.5em;
    padding-right: 1em;
}

H4:hover {
    
    text-decoration: underline;
}

.center-top {
    background-color: rgb(236, 236, 236);
    
}

.yellow-border {
    margin-top: 0;
    padding-left: 0.5em;
    background-color: #ffdd19;
    border-top: 2px solid rgb(241, 183, 24);
    align-items: center;
    align-content: center;
    justify-content: center;
    
}

.center-article {
    background-color: rgb(233, 233, 233);
    margin-top: 1.5em;
    padding-bottom: 0.5em;
}

.center-article-nobg {
    
    margin-top: 1.5em;

}

.center-article-txt {
    margin-left: 0.5em;
    margin-right: 1em;
}

.ads-img {
    width: 100%;
    border-top: 3px solid rgb(245, 196, 36);
}

.adsleft {
    text-align: center;
    justify-content: center;
    display: flex;
    margin: auto;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

.right-col {
    margin: 0;
}

.right-article {
    margin: 0;

}

.opinion {
    background-color: rgb(223, 223, 223);
    padding-bottom: 0.5em;
}

.spotlight, .analysis, .culture {
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    background-color: rgb(223, 223, 223);
}

footer {
    margin-top: 4em;
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 241, 241);
    width: 100%;
    
    border-top: 2px solid orange;
    padding-top: 2em;
    padding-bottom: 2em;
    /*margin-top: -265em; */
}

.footer-container {
    width: 90%;
    margin: auto;
   
}

.row {

}

.col-md-3 {
    flex: 0 0 auto;
    width: 20%;
}

.footer-links {
    color: #fd810d;
    text-decoration: none;
}

.footer-links:hover {
    color: #fd810d;
    text-decoration: underline;
}


/* BUTTONS ---------------------------- */

.btn-15 {
    background: #ffdd19;
   color: rgb(32, 32, 32);
   z-index: 1;
   padding: 1em;
   margin-top: 2em;
 }
 
 .btn-15:hover {
     background-color: black;
     transition: all 0.2s ease;
   color: rgb(255, 255, 255);
 }
 
 .btn-15:active {
   
 }



/* NAVBAR MENU ----------------------------  */


 

a.navlink
{
  padding: 0;
  margin-top: 2em;
    text-decoration: none;
  font-family: 'Playfair Display', serif;
  
  
  font-size: 1em;
  color: #232323;

}

a.navlink:hover
{
  color: #f93f23;
}

.nav-cat {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
    text-decoration: underline;
    color: #f93f23;
   
}

#icons
{
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  
  z-index: 10;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle
{
  display: block;
  position: fixed;
  top: 2em;
  left: 5%;
  
  z-index: 10;
  
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide */
  z-index: 2; /* place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/* Hamburger */

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #313131;
  border-radius: 3px;
  
  z-index: 1;
  
  -webkit-transform-origin: 4px 0px;
  
          transform-origin: 4px 0px;
  
  transition: background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease,
              -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menuToggle span:first-child
{
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

/*  Transform */
#menuToggle input:checked ~ span
{
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/* hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

/* other direction */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: relative;
  width: 10em;
  margin: 2em 0 0 -6em;
  padding: 30px;
  padding-top: 1em;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* stop flickering text in safari */
  
  -webkit-transform-origin: 0% 0%;
  
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  
  transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  margin-top: 0.5em;
  font-size: 1em;

}

li:hover
{

 transition: background-color 0.4s ease;
}


#menuToggle input:checked ~ ul
{
  -webkit-transform: none;
          transform: none;
}

.space
{
 height: 20px;
}


@media only screen and (max-width: 950px) {
    H2 {
        font-size: 1rem !important;
        font-weight: 800;
        margin-top: 1em;
        padding-top: 0.5em;
        font-family: 'Playfair Display', serif;
        text-align: center;
    }
  }

  @media only screen and (max-width: 700px) {
    .flexcont {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 0;
        padding: 0;
        }

        .flex-article {
            width: 100%;
            margin-top: 2em;
            align-self: auto;
            justify-content: center;
            text-align: center;
            flex-wrap: wrap;
            background-color: #ededed;
        }

        H2 {
            font-size: 1.4rem !important;
            font-weight: 800;
            margin-top: 1em;
            padding-top: 0.5em;
            font-family: 'Playfair Display', serif;
            text-align: center;
        }
  }

 



